@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');


body,
html {
    height: 100%;
}

div.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main h1 {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}